/* Animation pour une entrée en fondu */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Animation pour une montée progressive */
@keyframes slideIn {
    from {
        transform: translateY(20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

/* Appliquer les animations */
#title {
    animation: fadeIn 2s ease-in-out;
}

#greeting, #current-date, #current-time, blockquote, #author, #countdown {
    animation: slideIn 1.5s ease
